# Inclui arquivos de texto e configuração na raiz
include requirements.txt
include pyproject.toml
include README.md
include LICENSE

# Inclui os datasets de exemplo que estão na pasta data
recursive-include data/input *.csv
recursive-include data/input *.json